.ad3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  max-height: 500px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.ad3 > img {
  max-width: 99%;
  max-height: 99%;
}
