.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  background: linear-gradient(
    0deg,
    rgba(246, 196, 33, 0.9) 30%,
    rgba(245, 220, 149, 0.8) 100%
  );
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88743 #9c7e31 #846a29;
  color: #111111;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
