.header {
    height :60px;
    display: flex;
    align-items: center;
    background-color: rgb(17,24,33);
    position: sticky;
    top:0;
    z-index: 100;    
}

.header__logo {
 width: 100px;
 object-fit: contain;
 margin: 0 20px;
 margin-top: 18px;
 margin-right: 70px;  
}

.header__search {
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
    padding-right: 5px;
}

.header__searchInput {
    height: 12px;
    padding:10px;
    border:none;
    width:95%;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: rgb(255,190,83);
    border-radius: 0 8px 8px 0;
}

.header__searchIcon:hover {
   background-color:rgb(250,160,0) ; 
}
.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 0 10px 0;
    margin-left: 5px;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionBasket:hover{
    border: 1px solid white;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}
.header__option {
    display:flex;
    flex-direction: column;
    color: white;
    padding: 8px 10px 8px 10px;
}

.header__option:hover {
    border: 1px solid white;
}


